* {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #f9f9f9; 
}

canvas {
  border: 1px solid black;
  cursor: crosshair;
  margin-top: 10px;
}

#otherCanvas, #myCanvas {
  display: none;
}

#widthpick {
  width: 5em;
}

#colorpickbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}

.colorpick {
  width: 48px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #555;
  z-index: 1;
  margin: 1px;
}

.colorpickSelected {
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.8);
  border: 2px solid #555;
  z-index: 5;
}